@use "/src/styles/variables.scss";
/* AXEPTIO */

.htKxuG svg path {
    fill: variables.$S_MAIN_COLOR_CLIENT !important;
  
    &:last-child {
      fill: white !important;
    }
  }
  
  .ButtonGroup__ButtonGroupStyle-sc-1usw1pe-1
    .inpjsL.inpjsL.inpjsL.inpjsL.inpjsL.inpjsL {
    color: variables.$S_MAIN_COLOR_CLIENT !important;
  }
  
  .gegvBA {
    display: none !important;
  }
  
  /* AXEPTIO */