/** @format */

@import "./variables";
@import "./notifications";
@import "./media_query";

#wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}

#main {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 1;
}
/* AXEPTIO */

.htKxuG svg path {
	fill: $S_MAIN_COLOR_CLIENT !important;

	&:last-child {
		fill: white !important;
	}
}

.ButtonGroup__ButtonGroupStyle-sc-1usw1pe-1
	.inpjsL.inpjsL.inpjsL.inpjsL.inpjsL.inpjsL {
	color: $S_MAIN_COLOR_CLIENT !important;
}

.gegvBA {
	display: none !important;
}

/* AXEPTIO */

/* COUNTER API SEARCH */
.hdpi.pac-logo:after,
.pac-logo:after,
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
	display: none !important;
}

.mapboxgl-marker {
	position: relative !important;
}
.mapboxgl-canvas {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
/* COUNTER API SEARCH */
/* OVERLAY */

.s_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $S_MAIN_COLOR_BLACK;
	z-index: 7;
}

.opa_x_6 {
	opacity: 0.6;
}

.opa_x_5,
.opa_x_4 {
	opacity: 0.4;
}

.opa_x_3 {
	opacity: 0.3;
}

.opa_x_2 {
	opacity: 0.2;
}

/* OVERLAY */
/* SWIPER */

.swiper-button-next,
.swiper-button-prev {
	top: 90%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	color: $S_MAIN_COLOR_BLACK;
}

.swiper-pagination-bullet-active {
	background-color: $S_MAIN_COLOR_BLACK !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 23px !important;
}

/* SWIPER */

.hello {
	position: relative;
	background-color: $S_MAIN_COLOR_BLACK;
	width: 100%;
	height: 100vh;
	@include flex(column, center, center);
	h1 {
		text-transform: uppercase;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: $S_MAIN_COLOR_CLIENT;
	}
}
